<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="earlll.com.testdemoall">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/style_activty_custom">
        <activity
            android:name="earlll.com.testdemoall.MainActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".aosp.baseadapterhelper.ui.SimpleBaseAdapterActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".aosp.pullrefreshlayout.ui.SimpleSwipeRefreshLayoutActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.pullrefreshlayout.ui.SimplePullRefreshLayoutActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.baseadapterhelper.ui.SimpleHorizontalListViewActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.demo.ui.SimpleFragmentActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.eventbus.ui.EventBusReciveActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.eventbus.ui.EventBusSendActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.sensordemo.ui.SimpleSensorActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.xrecyclerview.ui.CollapsingToolbarActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.xrecyclerview.ui.MultiHeaderActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.xrecyclerview.ui.StaggeredGridActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.baserecyclerviewadapterhelper.ui.AnimationAdatperActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.baserecyclerviewadapterhelper.ui.GroupStyleAdapterActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.baserecyclerviewadapterhelper.ui.ItemDragAndSwipeUseActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.baserecyclerviewadapterhelper.ui.ItemDragSmallIconActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.baserecyclerviewadapterhelper.ui.MultipleTypeAdapterActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.baserecyclerviewadapterhelper.ui.PullToRefreshAdapterActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aosp.baserecyclerviewadapterhelper.ui.CollapsingAdapterActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.demo.ui.MultiFragmentActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.demo.ui.SimpleBaseAdapterActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.demo.ui.PopwindowSimpleActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.demo.ui.AnimationSimpleActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.dragger2.ui.DraggerActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.annotationdemo.ui.SimpleAnnotationActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.testnetframe.ui.TestNetActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.viewdemo.ui.SimpleLayoutActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.webviewdemo.ui.InterceptUrlActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.demo.ui.TestDataSimpleActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.demo.ui.FileOperationSimpleActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.zxing.ui.ZXingActivity"
            android:configChanges="keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/style_activty_custom"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>